
<form (submit)="create()" class="example-form" >
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Enter post title" [formControl]="title">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
        <textarea type="text" matInput placeholder="Enter content" [formControl]="content" required></textarea>
        <mat-error *ngIf="content.invalid">{{getContentError()}}</mat-error>
      </mat-form-field>


      <mat-form-field class="example-full-width">
          <input matInput placeholder="Enter post image url" [formControl]="imageUrl">
        </mat-form-field>

      <div class="button-row">
          <button type="submit" mat-raised-button [disabled]="content.invalid">Submit</button>
        </div>
  </form>

  <!-- <div class="user-border">

            
    <blockquote class="blockquote">
        <p>
            <a>&quot;</a><a>Comment text thisComment text this is awesomeComment text this is awesomeComment text this is awesomeComment text this is awesomeComment text this is awesomeComment text this is awesomeComment text this is awesomeComment text this is awesomeComment text this is awesomeComment text this is awesomeComment text this is awesomeComment text this is awesomeComment text this is awesomeComment text this is awesomeComment text this is awesomeComment text this is awesomeComment text this is awesome is awesome</a><a>&quot;</a>
        </p>
        <b><h5><strong><cite title="Source Title" >Stoyan Zbhulev</cite></strong></h5></b><a>  </a><small>08/12/2018</small>
    </blockquote>
</div> -->