.user-border{
    
    border: 1px solid #e8e8e8;
  }
  
  .user-content {
    padding: 10px;
  }

  .user-img {
    display: inline-block;
    width: 100px;
    height: 5%;
    border-radius: 50%;
  
    object-fit: cover;
  }